.authors__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.author {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}

.author:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.07);
}

.author__avatar {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
}

.author__info p {
    margin-top: 1rem;
}