.posts {
    min-height: calc(100vh - 420px);
}

.posts__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}


/* **********************MEDIA QUERIES (small screen) ***********************/

@media (max-width: 800px){
.posts__container {
    grid-template-columns: 1fr;
    gap: 1rem;
}
}