.error img {
    text-align: center;
    padding: 5rem;
    margin-inline: auto;
    display: block;
    width: 50%;
}

.error-page a {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: var(--color-gray-900);
    color: var(--color-white);
}

.error-page a:hover {
    background-color: var(--color-gray-700);
}

.error-page img {
    margin-top: -10rem;
}