.post {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: var(-radius-4);
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: pointer;
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, .1);
}

.post__thumbnail {
    border-radius: var(--radius-3);
    overflow: hidden;
    height: 16rem;
}

.post__content {
    margin-top: 1.5rem;
}

.post__content h3 {
    margin: 1rem 0 0.6rem;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

