nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background-color: var(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo {
    width: 3rem;
    display: block;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-avatar {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-4);
    overflow: hidden;
    display: inline-block;
    margin-right: -1.5rem;
}

.nav-avatar {
    object-fit: cover;
}

.nav__toggle-btn {
    display: none;
}




/* **********************MEDIA QUERIES (small screen) ***********************/

@media (max-width: 800px) {
    .nav__container {
        position: relative;
    }

    .nav__menu {
        position: absolute;
        top: 5rem;
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    .nav__menu li {
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);   
    }

    .nav__menu li a {
        display: block;
        background: var(--color-white);
        padding: 0.85rem 2.5rem;
    }

    .avatar-container {
        display: none;
    }


    .nav__toggle-btn {
        display: inline-block;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        border: none;
    }
}